body {
	background-color: whitesmoke;
}
p {
	font-size: 12px;
}
i,
span {
	font-size: 10px;
	font-weight: 500;
}
h3 {
	font-size: 24px;
}
body {
	color: #707070;
}
a {
	text-decoration: none;
	color: #0092dd;
}
li {
	list-style: none;
}
input {
	background-color: transparent;
	border: 0px;
	font-size: 14px;
	padding: 5px;
	width: 100%;
}

input:focus {
	outline: none !important;
}

.row {
	min-height: 100vh;
	display: flex;
	justify-content: center;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.col-sm-4 {
	flex: 4;
}

.col-sm-8 {
	flex: 8;
}

.col-sm-2 {
	flex: 2;
}

.col-sm-10 {
	flex: 10;
}
.col-sm-3 {
	flex: 3;
}

.col-sm-9 {
	flex: 9;
}

.form-control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: column;
	border: 1px solid lightgrey;
	padding: 20px;
	width: 25vw;
}

.hint {
	color: #0092dd;
}
.divider {
	height: 1px;
	background-color: grey;
}

.form-group {
	margin-top: 25px;
}
.btn {
  padding: 10px;
  color:white;
  font-size: 14px;
  font-weight: 500;
  border:0px;
  width: auto;
  margin-top: 10px;
  cursor: pointer;
}
.btn-primary {
	background-color: #0092dd;
}

.btn-default {
	color: #0092dd;
}
.btn-info {
	color: #ec663a;
}

.btn-danger {
	color: #f52e5d;
}
.btn-solid-danger {
  background-color: #F52E5D;
  color: #ffffff;
  opacity: 1;
  border-radius: 5px;
  width: 100px;
  transition: opacity 0.2s ease-in 0.1s;
}
.btn-solid-danger:hover {
  opacity: 0.8;
}
.btn-success {
	background-color: #20af6b;
}
.pull-right {
	text-align: right;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon {
	margin-left: 10px;
	font-size: 20px;
}

.btn-rounded {
	border-radius: 5px;
}

.primary {
	color: #0092dd;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	margin: 40px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
	box-shadow: 3px 3px 3px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-header {
	display: flex;
}

.card-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-footer {
	display: flex;
}

.item-name {
	font-weight: 600;
	font-size: 14px;
}
.item-price {
	font-size: 10px;
	color: #f52e5d;
	font-weight: 700;
}

.timestamp {
	display: flex;
	text-align: center;
	align-items: center;
}
.time {
  margin-top:-10px; 
  margin-left:15px;
  font-size:10px;
}
.likes-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.likes {
	font-weight: 600;
	font-size: 12px;
	margin-left: 5px;
}
.navigation {
	display: flex;
	align-items: center;
}
.back-button {
	position: absolute;
	margin-left: 20px;
	margin-right: 20px;
}
.sidebar {
	overflow-y: hidden;
}
.page-content {
	overflow-y: scroll;
	height: 100vh;
}
@media only screen and (max-width: 600px) {
	.col-sm-8 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.form {
		width: 50vw;
	}
	.sidebar {
		display: none;
	}
	.sidebar-control {
		position: fixed;
		top: 2vh;
		right: 2vw;
		display: block;
		z-index: 1;
	}
	.sidebar-control-icon {
		width: 100%;
		font-size: 25px;
	}
}
.absolute {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.text-center {
  text-align: center;
}
.text-danger {
  color:#F52E5D;
}
.info {
  font-size: 14px;
  font-weight: 500;
}
.text-success{
  color: #20AF6B;
}
@media only screen and (max-width: 600px){
  .col-sm-8{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .form{
      width: 50vw;
  }
}

@media only screen and (max-width: 600px) {
  .col-sm-3 {
      display: none;
  }
}
.items-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wishlist-form {
  width: 100%;
  padding: 10px;
}
