body {
  background-color: whitesmoke;
}
p {
  font-size: 12px;
}
i, span {
  font-size: 10px;
  font-weight: 500;
}
h3{
  font-size: 24px;
}
body{
  color:#707070;
}
a {
  text-decoration: none;
  color:#0092DD;
}

input {
  background-color: transparent;
  border:0px;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}

input:focus {
    outline: none !important;
   
}

.row {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.col-sm-4{
  flex: 4;
}

.col-sm-8{
  flex:8;
}

.col-sm-2 {
  flex: 2;
}

.col-sm-10 {
  flex:10;
}
.col-sm-3 {
  flex: 3;
}

.col-sm-9 {
  flex:9;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding: 20px;
  width: 25vw;
}

.hint {
  color:#0092DD;
}
.divider {
  height: 1px;
  background-color: grey;
}

.form-group {
  margin-top:25px;
}
.btn {
  padding: 10px;
  color:white;
  font-size: 14px;
  font-weight: 500;
  border:0px;
  width: auto;
  margin-top: 10px;
}
.btn-primary {
  background-color: #0092DD;
}

.btn-default {
  color:#0092DD;
}

.btn-success {
  background-color: #20AF6B;
}
.pull-right {
  text-align: right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left:10px;
  font-size: 20px;
}

.btn-rounded {
  border-radius: 5px;
}

.primary {
  color:#0092DD;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header {
  display: flex;
}

.card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer {
  display: flex;
}

.item-name {
  font-weight: 600;
  font-size: 14px;
}
.item-price {
  font-size: 10px;
  color:#F52E5D;
  font-weight: 700;
}

.timestamp {
  display: flex;
  text-align: center;
  align-items: center;
}
.likes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.likes {
  font-weight: 600;
  font-size: 12px;
  margin-left: 5px;
}
@media only screen and (max-width: 600px){
  .col-sm-8{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .form{
      width: 50vw;
  }
}

